frontend internal-pgbouncer-tcp-in
    bind *:6432
    mode tcp
    option tcplog
    option clitcpka

    default_backend pgbouncer

{% if 'praefect' in groups %}
frontend internal-praefect-tcp-in
    bind *:2305
    mode tcp
    option tcplog
    option clitcpka

    default_backend praefect
{% endif -%} 

backend pgbouncer
    mode tcp
    option tcp-check
    option srvtcpka

{% for ip in pgbouncer_int_ips %}
    server pgbouncer{{loop.index}} {{ ip }}:6432 check
{% endfor %}

{% if 'praefect' in groups %}
backend praefect
    mode tcp
    option tcp-check
    option srvtcpka

{% for ip in praefect_int_ips %}
    server praefect{{loop.index}} {{ ip }}:2305 check
{% endfor %}
{% endif -%} 