# Avoid running unnecessary services on the Praefect server
postgresql['enable'] = false
redis['enable'] = false
nginx['enable'] = false
prometheus['enable'] = false
unicorn['enable'] = false
sidekiq['enable'] = false
gitlab_workhorse['enable'] = false
alertmanager['enable'] = false
geo_postgresql['enable'] = false
geo_primary_role['enable'] = false
geo_secondary_role['enable'] = false
gitlab_exporter['enable'] = false
gitlab_pages['enable'] = false
grafana['enable'] = false
mattermost['enable'] = false
mattermost_nginx['enable'] = false
pages_nginx['enable'] = false
pgbouncer['enable'] = false
pgbouncer_exporter['enable'] = false
postgres_exporter['enable'] = false
prometheus['enable'] = false
puma['enable'] = false
redis_exporter['enable'] = false
redis_master_role['enable'] = false
redis_sentinel_role['enable'] = false
redis_replica_role['enable'] = false
registry['enable'] = false
registry_nginx['enable'] = false
repmgr['enable'] = false
repmgrd['enable'] = false
sentinel['enable'] = false
storage_check['enable'] = false
gitaly['enable'] = false

# Praefect Configuration
praefect['enable'] = true
praefect['listen_addr'] = '0.0.0.0:2305'
praefect['auth_token'] = '{{ praefect_external_token }}'

praefect['database_host'] = '{{ praefect_postgres_int_ip }}'
praefect['database_port'] = 5432
praefect['database_host_no_proxy'] = '{{ praefect_postgres_int_ip }}'
praefect['database_port_no_proxy'] = 5432
praefect['database_user'] = '{{ praefect_postgres_username }}'
praefect['database_password'] = '{{ praefect_postgres_password }}'
praefect['database_dbname'] = '{{ praefect_postgres_dbname }}'

praefect['auto_migrate'] = {{ (true if db_migrate is defined and db_migrate == true else false) | lower }}

praefect['virtual_storages'] = {
  'default' => {
    'gitaly-1' => {
      'address' => 'tcp://{{ gitaly_primary_int_ip }}:8075',
      'token'   => '{{ praefect_internal_token }}',
      'primary' => true
    },
{% for ip in gitaly_secondary_int_ips %}
    'gitaly-{{ loop.index + 1 }}' => {
      'address' => 'tcp://{{ ip }}:8075',
      'token'   => '{{ praefect_internal_token }}'
    },
{% endfor %}
  }
}

gitlab_rails['rake_cache_clear'] = false
gitlab_rails['auto_migrate'] = false

# Consul
consul['enable'] = true
consul['configuration'] = {
  bind_addr: '{{ ansible_default_ipv4.address }}',
  retry_join: %w({{ (consul_int_ips if 'consul' in groups else gitlab_rails_int_ips) | join(' ') }})
}
consul['monitoring_service_discovery'] = true

# Monitoring
praefect['prometheus_listen_addr'] = '0.0.0.0:9652'
node_exporter['listen_address'] = '0.0.0.0:9100'

# Workaround for Sidekiq Cluster which is enabling by default
sidekiq['enable'] = false

confs = Dir.glob(File.join("/etc/gitlab/", "gitlab.*.rb"))
confs.each { |conf|
  from_file conf
}
